In [1]:
import numpy as np
import pandas as pd

source = r"C:\Users\ashle\Documents\ASHLEY\water_sanitation_nutritional_Table 07.xlsx"

df = pd.read_excel(source)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,… to lead a long and healthy life …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"7 Water, sanitation and nutritional status",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,MDG,NaN,NaN,NaN,MDG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,MDG,NaN,NaN,NaN,MDG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Population using improved sanitation\n(%),NaN,NaN,NaN,Population using an improved water source\n (%),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,1990,NaN,2004,NaN,1990,NaN,2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,Iceland,NaN,100,NaN,100,NaN,100,NaN,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,Norway,NaN,..,NaN,..,NaN,100,NaN,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Repositionner la ligne d'en-tête
df = pd.read_excel(source, header=7)
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,Unnamed: 0,Unnamed: 1,Population using improved sanitation (%),Unnamed: 4,Unnamed: 5,Unnamed: 6,Population using an improved water source (%),Unnamed: 8,Unnamed: 9,Unnamed: 10,Population undernourished (% of total population),Unnamed: 12,Unnamed: 13,Unnamed: 14,Children under weight for age (% of children under age 5),Unnamed: 16,Children under height for age (% of children under age 5),Infants with low birthweight (%),Unnamed: 20
0,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1990,NaN,2004,NaN,1990,NaN,2004,NaN,1990/92a,NaN,2002/04a,NaN,1996-2005b,NaN,1996-2005b,1998-2005b,NaN
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,4,NaN
4,2,Norway,..,NaN,..,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,5,NaN
5,3,Australia,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,7,NaN

In [3]:
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 5 premières lignes
    # puis conservez toutes les chaînes (c'est-à-dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['HDI rank', 'HIGH HUMAN DEVELOPMENT', '1', '2'],
 ['Iceland', 'Norway'],
 ['1990', '100', '..'],
 [],
 ['2004', '100', '..'],
 [],
 ['1990', '100', '100'],
 [],
 ['2004', '100', '100'],
 [],
 ['1990/92a', '<2.5', '<2.5'],
 [],
 ['2002/04a', '<2.5', '<2.5'],
 [],
 ['1996-2005b', '..', '..'],
 [],
 ['1996-2005b', '..', '..'],
 ['1998-2005b', '4', '5'],
 []]

In [4]:
columns = [
    "HDI rank",
    "Country",
    "Population using improved sanitation (%) 1990",
    "Reference 1",
    "Population using improved sanitation (%) 2004",
    "Reference 2",
    "Population using an improved water source (%) 1990",
    "Reference 3",
    "Population using an improved water source (%) 2004",
    "Reference 4",
    "Population undernourished (% of total population) 1990/92a",
    "Reference 5",
    "Population undernourished (% of total population) 2002/04a",
    "Reference 6",
    "Children under weight for age (% of children under age 5) 1996-2005b",
    "Reference 7",
    "Children under height for age (% of children under age 5) 1996-2005b",
    "Infants with low birthweight (%) 1998-2005b",   
    "Reference 8"
]
# Réinitialiser les colonnes des cadres de données
df.columns = columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(5) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(3), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,Population using improved sanitation (%) 1990,Reference 1,Population using improved sanitation (%) 2004,Reference 2,Population using an improved water source (%) 1990,Reference 3,Population using an improved water source (%) 2004,Reference 4,Population undernourished (% of total population) 1990/92a,Reference 5,Population undernourished (% of total population) 2002/04a,Reference 6,Children under weight for age (% of children under age 5) 1996-2005b,Reference 7,Children under height for age (% of children under age 5) 1996-2005b,Infants with low birthweight (%) 1998-2005b,Reference 8
0,1,Iceland,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,4,NaN
1,2,Norway,..,NaN,..,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,5,NaN
2,3,Australia,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,7,NaN
3,4,Canada,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,6,NaN
4,5,Ireland,..,NaN,..,NaN,..,NaN,..,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,6,NaN

In [5]:
df.tail(30)

,HDI rank,Country,Population using improved sanitation (%) 1990,Reference 1,Population using improved sanitation (%) 2004,Reference 2,Population using an improved water source (%) 1990,Reference 3,Population using an improved water source (%) 2004,Reference 4,Population undernourished (% of total population) 1990/92a,Reference 5,Population undernourished (% of total population) 2002/04a,Reference 6,Children under weight for age (% of children under age 5) 1996-2005b,Reference 7,Children under height for age (% of children under age 5) 1996-2005b,Infants with low birthweight (%) 1998-2005b,Reference 8
169,168,Congo (Democratic Republic of the),16,NaN,30,NaN,43,NaN,46,NaN,31,NaN,74,NaN,31,NaN,44,12,NaN
170,169,Ethiopia,3,NaN,13,NaN,23,NaN,22,NaN,69,d,46,NaN,38,NaN,51,15,NaN
171,170,Chad,7,NaN,9,NaN,19,NaN,42,NaN,58,NaN,35,NaN,37,NaN,45,22,NaN
172,171,Central African Republic,23,NaN,27,NaN,52,NaN,75,NaN,50,NaN,44,NaN,24,NaN,45,14,NaN
173,172,Mozambique,20,NaN,32,NaN,36,NaN,43,NaN,66,NaN,44,NaN,24,NaN,47,15,NaN
174,173,Mali,36,NaN,46,NaN,34,NaN,50,NaN,29,NaN,29,NaN,33,NaN,43,23,NaN
175,174,Niger,7,NaN,13,NaN,39,NaN,46,NaN,41,NaN,32,NaN,40,NaN,54,13,NaN
176,175,Guinea-Bissau,..,NaN,35,NaN,..,NaN,59,NaN,24,NaN,39,NaN,25,NaN,36,22,NaN
177,176,Burkina Faso,7,NaN,13,NaN,38,NaN,61,NaN,21,NaN,15,NaN,38,NaN,43,19,NaN
178,177,Sierra Leone,..,NaN,39,NaN,..,NaN,57,NaN,46,NaN,51,NaN,27,NaN,38,23,NaN
179,Developing countries,NaN,33,NaN,49,NaN,71,NaN,79,NaN,21,NaN,17,NaN,..,NaN,..,..,NaN
180,Least developed countries,NaN,22,NaN,37,NaN,51,NaN,59,NaN,38,NaN,35,NaN,..,NaN,..,..,NaN
181,Arab States,NaN,61,NaN,71,NaN,84,NaN,86,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
182,East Asia and the Pacific,NaN,30,NaN,50,NaN,72,NaN,79,NaN,17,NaN,12,NaN,..,NaN,..,..,NaN
183,Latin America and the Caribbean,NaN,67,NaN,77,NaN,83,NaN,91,NaN,14,NaN,10,NaN,..,NaN,..,..,NaN
184,South Asia,NaN,18,NaN,37,NaN,72,NaN,85,NaN,25,NaN,21,NaN,..,NaN,..,..,NaN
185,Sub-Saharan Africa,NaN,32,NaN,37,NaN,48,NaN,55,NaN,36,NaN,32,NaN,..,NaN,..,..,NaN
186,Central and Eastern Europe and the CIS,NaN,..,NaN,..,NaN,93,NaN,94,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
187,OECD,NaN,94,NaN,96,NaN,97,NaN,99,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
188,High-income OECD,NaN,100,NaN,100,NaN,100,NaN,100,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
189,High human development,NaN,90,NaN,92,NaN,96,NaN,98,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
190,Medium human development,NaN,30,NaN,48,NaN,73,NaN,82,NaN,20,NaN,16,NaN,..,NaN,..,..,NaN
191,Low human development,NaN,26,NaN,34,NaN,43,NaN,49,NaN,36,NaN,34,NaN,..,NaN,..,..,NaN
192,High income,NaN,..,NaN,..,NaN,100,NaN,100,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN
193,Middle income,NaN,46,NaN,61,NaN,78,NaN,84,NaN,14,NaN,11,NaN,..,NaN,..,..,NaN
194,Low income,NaN,21,NaN,38,NaN,64,NaN,76,NaN,28,NaN,24,NaN,..,NaN,..,..,NaN
195,World,NaN,49,g,59,g,78,g,83,g,20,NaN,17,NaN,..,NaN,..,..,NaN
196,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,a. Data refer to the average for the years spe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,"SOURCES\nColumns 1–4: UN 2006a, based on a joi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Déposer les lignes du bas des données que nous voulons conserver, jusqu'à la fin (défini comme len(df))
df = df.drop(np.arange(179,len(df)), axis=0).reset_index(drop=True)
df.tail(10)

,HDI rank,Country,Population using improved sanitation (%) 1990,Reference 1,Population using improved sanitation (%) 2004,Reference 2,Population using an improved water source (%) 1990,Reference 3,Population using an improved water source (%) 2004,Reference 4,Population undernourished (% of total population) 1990/92a,Reference 5,Population undernourished (% of total population) 2002/04a,Reference 6,Children under weight for age (% of children under age 5) 1996-2005b,Reference 7,Children under height for age (% of children under age 5) 1996-2005b,Infants with low birthweight (%) 1998-2005b,Reference 8
169,168,Congo (Democratic Republic of the),16,NaN,30,NaN,43,NaN,46,NaN,31,NaN,74,NaN,31,NaN,44,12,NaN
170,169,Ethiopia,3,NaN,13,NaN,23,NaN,22,NaN,69,d,46,NaN,38,NaN,51,15,NaN
171,170,Chad,7,NaN,9,NaN,19,NaN,42,NaN,58,NaN,35,NaN,37,NaN,45,22,NaN
172,171,Central African Republic,23,NaN,27,NaN,52,NaN,75,NaN,50,NaN,44,NaN,24,NaN,45,14,NaN
173,172,Mozambique,20,NaN,32,NaN,36,NaN,43,NaN,66,NaN,44,NaN,24,NaN,47,15,NaN
174,173,Mali,36,NaN,46,NaN,34,NaN,50,NaN,29,NaN,29,NaN,33,NaN,43,23,NaN
175,174,Niger,7,NaN,13,NaN,39,NaN,46,NaN,41,NaN,32,NaN,40,NaN,54,13,NaN
176,175,Guinea-Bissau,..,NaN,35,NaN,..,NaN,59,NaN,24,NaN,39,NaN,25,NaN,36,22,NaN
177,176,Burkina Faso,7,NaN,13,NaN,38,NaN,61,NaN,21,NaN,15,NaN,38,NaN,43,19,NaN
178,177,Sierra Leone,..,NaN,39,NaN,..,NaN,57,NaN,46,NaN,51,NaN,27,NaN,38,23,NaN

In [7]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se débarrasser des rangées avec les catégories HDI
# https://stackoverflow.com/a/27360130 & https://stackoverflow.com/a/12098586
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
# Référence pour np.where https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html
# Pensez que cela ressemble à une déclaration du type "if" : where(test est vrai, vrai-quelque chose, faux-quelque chose)
# ceci peut aussi être imbriqué : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
df.loc[:, "HDI category"] = np.where(df["HDI rank"] < 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

,HDI rank,Country,Population using improved sanitation (%) 1990,Reference 1,Population using improved sanitation (%) 2004,Reference 2,Population using an improved water source (%) 1990,Reference 3,Population using an improved water source (%) 2004,Reference 4,Population undernourished (% of total population) 1990/92a,Reference 5,Population undernourished (% of total population) 2002/04a,Reference 6,Children under weight for age (% of children under age 5) 1996-2005b,Reference 7,Children under height for age (% of children under age 5) 1996-2005b,Infants with low birthweight (%) 1998-2005b,Reference 8,HDI category
0,1,Iceland,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,4,NaN,LOW HUMAN DEVELOPMENT
1,2,Norway,..,NaN,..,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,5,NaN,LOW HUMAN DEVELOPMENT
2,3,Australia,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,7,NaN,LOW HUMAN DEVELOPMENT
3,4,Canada,100,NaN,100,NaN,100,NaN,100,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,6,NaN,LOW HUMAN DEVELOPMENT
4,5,Ireland,..,NaN,..,NaN,..,NaN,..,NaN,<2.5,NaN,<2.5,NaN,..,NaN,..,6,NaN,LOW HUMAN DEVELOPMENT

In [8]:
df.drop(['Reference 1','Reference 2','Reference 3','Reference 4','Reference 5','Reference 6','Reference 7','Reference 8'],axis='columns',inplace=True)
df.head()

,HDI rank,Country,Population using improved sanitation (%) 1990,Population using improved sanitation (%) 2004,Population using an improved water source (%) 1990,Population using an improved water source (%) 2004,Population undernourished (% of total population) 1990/92a,Population undernourished (% of total population) 2002/04a,Children under weight for age (% of children under age 5) 1996-2005b,Children under height for age (% of children under age 5) 1996-2005b,Infants with low birthweight (%) 1998-2005b,HDI category
0,1,Iceland,100,100,100,100,<2.5,<2.5,..,..,4,LOW HUMAN DEVELOPMENT
1,2,Norway,..,..,100,100,<2.5,<2.5,..,..,5,LOW HUMAN DEVELOPMENT
2,3,Australia,100,100,100,100,<2.5,<2.5,..,..,7,LOW HUMAN DEVELOPMENT
3,4,Canada,100,100,100,100,<2.5,<2.5,..,..,6,LOW HUMAN DEVELOPMENT
4,5,Ireland,..,..,..,..,<2.5,<2.5,..,..,6,LOW HUMAN DEVELOPMENT

In [9]:
df.to_csv

<bound method NDFrame.to_csv of     HDI rank                             Country  \
0          1                             Iceland
1          2                              Norway
2          3                           Australia
3          4                              Canada
4          5                             Ireland
5          6                              Sweden
6          7                         Switzerland
7          8                               Japan
8          9                         Netherlands
9         10                              France
10        11                             Finland
11        12                       United States
12        13                               Spain
13        14                             Denmark
14        15                             Austria
15        16                      United Kingdom
16        17                             Belgium
17        18                          Luxembourg
18        19                         New Zealand
19        20                               Italy
20        21              Hong Kong, China (SAR)
21        22                             Germany
22        23                              Israel
23        24                              Greece
24        25                           Singapore
25        26                 Korea (Republic of)
26        27                            Slovenia
27        28                              Cyprus
28        29                            Portugal
29        30                   Brunei Darussalam
..       ...                                 ...
147      148                               Kenya
148      149                            Djibouti
149      150                         Timor-Leste
150      151                            Zimbabwe
151      152                                Togo
152      153                               Yemen
153      154                              Uganda
154      155                              Gambia
155      156                             Senegal
156      157                             Eritrea
157      158                             Nigeria
158      159       Tanzania (United Republic of)
159      160                              Guinea
160      161                              Rwanda
161      162                              Angola
162      163                               Benin
163      164                              Malawi
164      165                              Zambia
165      166                       Côte d'Ivoire
166      167                             Burundi
167      168  Congo (Democratic Republic of the)
168      169                            Ethiopia
169      170                                Chad
170      171            Central African Republic
171      172                          Mozambique
172      173                                Mali
173      174                               Niger
174      175                       Guinea-Bissau
175      176                        Burkina Faso
176      177                        Sierra Leone

    Population using improved sanitation (%) 1990  \
0                                             100
1                                              ..
2                                             100
3                                             100
4                                              ..
5                                             100
6                                             100
7                                             100
8                                             100
9                                              ..
10                                            100
11                                            100
12                                            100
13                                             ..
14                                            100
15                                             ..
16                                             ..
17                                             ..
18                                             ..
19                                             ..
20                                             ..
21                                            100
22                                             ..
23                                             ..
24                                            100
25                                             ..
26                                             ..
27                                            100
28                                             ..
29                                             ..
..                                            ...
147                                            40
148                                            79
149                                            ..
150                                            50
151                                            37
152                                            32
153                                            42
154                                            ..
155                                            33
156                                             7
157                                            39
158                                            47
159                                            14
160                                            37
161                                            29
162                                            12
163                                            47
164                                            44
165                                            21
166                                            44
167                                            16
168                                             3
169                                             7
170                                            23
171                                            20
172                                            36
173                                             7
174                                            ..
175                                             7
176                                            ..

    Population using improved sanitation (%) 2004  \
0                                             100
1                                              ..
2                                             100
3                                             100
4                                              ..
5                                             100
6                                             100
7                                             100
8                                             100
9                                              ..
10                                            100
11                                            100
12                                            100
13                                             ..
14                                            100
15                                             ..
16                                             ..
17                                             ..
18                                             ..
19                                             ..
20                                             ..
21                                            100
22                                             ..
23                                             ..
24                                            100
25                                             ..
26                                             ..
27                                            100
28                                             ..
29                                             ..
..                                            ...
147                                            43
148                                            82
149                                            36
150                                            53
151                                            35
152                                            43
153                                            43
154                                            53
155                                            57
156                                             9
157                                            44
158                                            47
159                                            18
160                                            42
161                                            31
162                                            33
163                                            61
164                                            55
165                                            37
166                                            36
167                                            30
168                                            13
169                                             9
170                                            27
171                                            32
172                                            46
173                                            13
174                                            35
175                                            13
176                                            39

    Population using an improved water source (%) 1990  \
0                                                  100
1                                                  100
2                                                  100
3                                                  100
4                                                   ..
5                                                  100
6                                                  100
7                                                  100
8                                                  100
9                                                  100
10                                                 100
11                                                 100
12                                                 100
13                                                 100
14                                                 100
15                                                 100
16                                                  ..
17                                                 100
18                                                  97
19                                                  ..
20                                                  ..
21                                                 100
22                                                 100
23                                                  ..
24                                                 100
25                                                  ..
26                                                  ..
27                                                 100
28                                                  ..
29                                                  ..
..                                                 ...
147                                                 45
148                                                 72
149                                                 ..
150                                                 78
151                                                 50
152                                                 71
153                                                 44
154                                                 ..
155                                                 65
156                                                 43
157                                                 49
158                                                 46
159                                                 44
160                                                 59
161                                                 36
162                                                 63
163                                                 40
164                                                 50
165                                                 69
166                                                 69
167                                                 43
168                                                 23
169                                                 19
170                                                 52
171                                                 36
172                                                 34
173                                                 39
174                                                 ..
175                                                 38
176                                                 ..

    Population using an improved water source (%) 2004  \
0                                                  100
1                                                  100
2                                                  100
3                                                  100
4                                                   ..
5                                                  100
6                                                  100
7                                                  100
8                                                  100
9                                                  100
10                                                 100
11                                                 100
12                                                 100
13                                                 100
14                                                 100
15                                                 100
16                                                  ..
17                                                 100
18                                                  ..
19                                                  ..
20                                                  ..
21                                                 100
22                                                 100
23                                                  ..
24                                                 100
25                                                  92
26                                                  ..
27                                                 100
28                                                  ..
29                                                  ..
..                                                 ...
147                                                 61
148                                                 73
149                                                 58
150                                                 81
151                                                 52
152                                                 67
153                                                 60
154                                                 82
155                                                 76
156                                                 60
157                                                 48
158                                                 62
159                                                 50
160                                                 74
161                                                 53
162                                                 67
163                                                 73
164                                                 58
165                                                 84
166                                                 79
167                                                 46
168                                                 22
169                                                 42
170                                                 75
171                                                 43
172                                                 50
173                                                 46
174                                                 59
175                                                 61
176                                                 57

    Population undernourished (% of total population) 1990/92a  \
0                                                 <2.5
1                                                 <2.5
2                                                 <2.5
3                                                 <2.5
4                                                 <2.5
5                                                 <2.5
6                                                 <2.5
7                                                 <2.5
8                                                 <2.5
9                                                 <2.5
10                                                <2.5
11                                                <2.5
12                                                <2.5
13                                                <2.5
14                                                <2.5
15                                                <2.5
16                                                <2.5
17                                                <2.5
18                                                <2.5
19                                                <2.5
20                                                  ..
21                                                <2.5
22                                                <2.5
23                                                <2.5
24                                                  ..
25                                                <2.5
26                                                   3
27                                                <2.5
28                                                <2.5
29                                                   4
..                                                 ...
147                                                 39
148                                                 53
149                                                 11
150                                                 45
151                                                 33
152                                                 34
153                                                 24
154                                                 22
155                                                 23
156                                                 70
157                                                 13
158                                                 37
159                                                 39
160                                                 43
161                                                 58
162                                                 20
163                                                 50
164                                                 48
165                                                 18
166                                                 48
167                                                 31
168                                                 69
169                                                 58
170                                                 50
171                                                 66
172                                                 29
173                                                 41
174                                                 24
175                                                 21
176                                                 46

    Population undernourished (% of total population) 2002/04a  \
0                                                 <2.5
1                                                 <2.5
2                                                 <2.5
3                                                 <2.5
4                                                 <2.5
5                                                 <2.5
6                                                 <2.5